
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
.container{
    width: 100%;
    height: 50em;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url("images/photo-1610901084736-c660f0bf7e43.avif");
    background-size:cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    image-rendering: -webkit-optimize-contrast;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 130px;
    cursor: pointer;
}
nav h2{
    color: white;
    text-align: center;
    flex:2;
    font-size: 50px;
    border: 2px solid black;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 5px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    font-size: 120%;
}
nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: whitesmoke;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
#potrait{
    width: 250px;
    height: auto;
    border-radius: 20em;
    position: absolute;
    left: 100px;
    top: 150px;
    border: 2px solid white;
    image-rendering: -webkit-optimize-contrast;
}
.lowes{
    color: white;
    position: absolute;
    right: 40px;
    top: 150px;
    max-width: 450px;
    background: rgba(0,0,0,0.3);
    border: 1px solid white;
    padding: 10px;
}
.lowes ol{
    margin-left: 25px;
}
.lowes #lowes_link{
    color: red;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 darkblue;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#lowes_link:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 darkblue;
}
.expertFence{
    color: white;
    position: absolute;
    right: 40px;
    top: 350px;
    max-width: 450px;
    background: rgba(0,0,0,0.3);
    border: 1px solid white;
    padding: 10px;
}
.expertFence ol{
    margin-left: 25px;
}
.expertFence #fence_link{
    color: white;
    text-decoration: none;
}
.expertFence #fence_link{
    color: green;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#fence_link:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 black;
}
.work{
    position:absolute;
    color: white;
    right: 500px;
    top: 160px;
}
.education{
    position: absolute;
    left: 40px;
    top: 500px;
    padding: 10px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.7);
    max-width: 450px;
}
.education h2{
    color: black;
    text-align: center;
}
.education ol{
    color: black;
    margin-left: 30px;
}
.bio{
    width: 100%;
    height: 40em;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url("images/photo-1610986043404-ae03aa066a23.avif");
    background-color: black;
    background-size:cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    border-top: 7px solid black;
    image-rendering: -webkit-optimize-contrast;
}
.bio #at4{
    height: auto;
    width: 300px;
    border-radius: 5em;
    position: absolute;
    top: 40px;
    left: 70px;
    border: 2px solid black;
}
.bio #home{
    height: auto;
    width: 300px;
    border-radius: 5em;
    position: absolute;
    top: 40px;
    right: 70px;
    border: 2px solid black;
}
.bio .bio_text{
    text-align: center;
    width: 40em;
    max-width: 40em;
    height: 25em;
    max-height: 25em;
    border: 2px solid white;
    position: absolute;
    right: 25em;
    top: 8em;
}
.bio_text p{
    font-family: "Alumni Sans", sans-serif;
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
    background-image: url("images/back.png");
    -webkit-background-clip: text;
    animation: bg-animation 20s linear infinite;
} 
@keyframes bg-animation{
    100%{
        background-position: 2000px 0;
    }
}