
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url("images/photo-1593079831268-3381b0db4a77.avif");
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    resize: both;
    overflow: auto;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 130px;
    cursor: pointer;
}
nav h2{
    color: whitesmoke;
    text-align: center;
    flex:2;
    font-size: 50px;
    border: 2px solid black;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 5px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    font-size: 120%;
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: whitesmoke;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.overview{
    color: white;
    width: 100%;
    display: block;
}
.overview h2{
    font-size: 27px;
    text-align: center;
    margin: 0px;
    padding: 25px;
}
.week{
    display: flex;
}
.week div{
    width: 100%;
    background: rgba(59, 61, 61, 0.4);
}
.monday{

}
.monday h3{
    font-size: 25px;
    text-align: center;
}
#pusha{
    font-size: 15px;
}
.tuesday{
    
}
.tuesday h3{
    font-size: 25px;
    text-align: center;
}
#pulla{
    font-size: 15px;
}
.wednesday{
    
}
.wednesday h3{
    font-size: 25px;
    text-align: center;
}
#legs{
    font-size: 15px;
}
#gym_icon{
    height: auto;
    width: 220px;
    position: relative;
    top:150px;
    left: 30px;
    border-radius: 40%;
}
.thursday{
    
}
.thursday h3{
    font-size: 25px;
    text-align: center;
}
#pushb{
    font-size: 15px;
}
.friday{
    
}
.friday h3{
    font-size: 25px;
    text-align: center;
}
#pullb{
    font-size: 15px;
}