@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcomepage {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 20% auto; 
    width: 100%;
    height: 100vh;
    background-image: url('media/photo-1625014618427-fbc980b974f5.avif');
    background-size: cover;
}
.top{
    grid-column: 1 / -1; 
    text-align: center; 
    color: black;
}
.nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    height: 100%; 
    width: 100%; 
}
  
.nested-item {
    text-align: center; 
}
.one ul{
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 15%;
}
.one ul li{
    display: inline-block;
    vertical-align: middle;
}
.one ul li a {
    text-decoration: none;
}
.one .logo{
    height: auto;
    width: 35%;
}
.one .logo2{
    height: auto;
    width: 35%;
}
.two{
    color: black;
    font-size: 17vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.menulist{
    margin-top: -1.5%;
    text-align: center;
    list-style-type: none;
    padding: 0;
    vertical-align: center;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menulist li{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}
.menulist li:hover {
    transform: translateY(-5px);
}
.three img{
    height: auto;
    width: 85%;
    position: relative;
    top: 12%;
}
.bottom-left, .bottom-right {
    font-family: "Bebas Neue", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}
.homeexplanation {
    font-size: 1.2vw;
    position: relative;
    left: -1%;
    color: white;
    top: -10%;
}
.founders {
    list-style-type: none;
    padding: 0;
    position: relative;
    right: -4%;
    top: -10%;
}
.founders li{
    vertical-align: middle;
    display: inline;
    color: white;
}
.founders #people{
  width: 28%;
  height: auto; 
  margin-right: 10px;
  border-radius: 2%; 
}