@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.landingpage{
    width: 100%;
    height: 100vh;
    background-color: black;

}
.menubar{
    height: 13vh;
    width: 100%;
    background-color: white;
}
.menubar #Title {
    color: black;
    font-size: 7ch;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 2%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 4%;
    left: 5%;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
#logo {
    height: auto;
    width: 50px;
    
}
#logo2 {
    height: auto;
    width: 65px;
}
#designlogo {
    height: auto;
    width: 100px;
    position: absolute;
    right: 5%;
    top: 2%;
}
.menulist{
    text-align: center;
    list-style-type: none;
    padding: 0;
    vertical-align: center;
}
.menulist li{
    display: inline-block;
    margin-right: 25px;
    transition: transform 0.3s ease;
    text-decoration: none;
}
.menulist li:hover {
    transform: translateY(-5px);
}
.picture1home{
    height: auto;
    width: 650px;
    position: absolute;
    right: 8%;
    top: 30%;
}
.homeexplanation {
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}
.founders {
    list-style-type: none;
    padding: 0;
    position: absolute;
    right: 12%;
    top: 30%;
}
.founders li{
    display: inline-block;
    vertical-align: middle;
}
.founders li {
    position: relative;
    margin-right: 10px;
    display: inline-block; /* Display list items inline with block characteristics */
}

.founders #people{
  display: inline-block; 
  width: 200px; 
  height: auto; 
  border-radius: 40px; 
}
.founders a::after {
    border-radius: 40px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); /* Grey transparent overlay */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
    pointer-events: none; /* Allows clicking on the link beneath */
}
.founders a:hover::after {
    opacity: 1; /* Visible on hover */
}