*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
.container1{
    width: 100%;
    height: 50em;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url("images/Purple Gradient Channel.png");
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    resize: both;
    overflow: hidden;
    image-rendering: -webkit-optimize-contrast;
}
.container1-title{
    transform: scaleX(1.5);
    font-size: 2em;
    color: whitesmoke;
    position: absolute;
    padding: 8px;
    top: 5%;
    left: 250px;
    width: 950px;
    background-color: black;
}
.text-box{
    color: whitesmoke;
    position: absolute;
    top: 30%;
}
.text-box p{
    font-size: 300%;
    font-weight:600;
}
.text-box h1{
    font-size: 500%;
    line-height: 80px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
    background-image: url("images/back.png");
    -webkit-background-clip: text;
    animation: bg-animation 20s linear infinite;
} 
@keyframes bg-animation{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{   
    font-size: 200%;
    font-weight: 600;
}
.text-box h3:hover{

}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 30px;
}
.text-box a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out; 
}
.text-box a:hover { 
    transform: scale(1.1); 
    border: 2px solid darkblue;
    color: darkblue;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}

@media screen and (max-width: 450px){
    .logo{
        width: 75px;
    }
    nav h2{
        width: 250px;
        font-size: 30px;
        flex: none;
    }
    nav ul{
        position: absolute;
        top: 5em;
    }
    .text-box{
        top: 20%
    }
    .text-box p{
        font-size: 200%;
    }
    .text-box h1{
        font-size: 400%;
    }
    .text-box h3{
        font-size: 150%;
    }
}

@media screen and (max-width: 380px){
    .logo{
        width: 60px;
    }
    .text-box p{
        font-size: 170;
    }
    .text-box h1{
        font-size: 300%;
    }
    .text-box h3{
        font-size: 125%
    }
}
#image_container{
    position: absolute; 
    width: 90em; 
    top: -5em;
    left: 35%;
    height: auto; 
    z-index: 1;
    object-fit: cover;
}

.container{
    width: 100%;
    height: 50em;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url("images/fotor_2023-6-1_22_42_9.jpg");
    background-size:cover;
    backdrop-filter: blur(5px);
    background-position: center;
    padding: 0 8%;
    position: relative;
    image-rendering: -webkit-optimize-contrast;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3.5px); /* Adjust the blur radius as desired */
}
.content {
    position: relative;
    z-index: 1;
}
#potrait{
    width: 250px;
    height: auto;
    border-radius: 20em;
    position: absolute;
    left: 100px;
    top: 150px;
    image-rendering: -webkit-optimize-contrast;
}
.container-title {
    color: lightgrey;
    position: absolute;
    top: 5%;
    left: 400px;
    font-size: 1.5em;
    transform: scaleX(2);
}
.lowes{
    color: white;
    position: absolute;
    right: 40px;
    top: 150px;
    max-width: 450px;
    padding: 10px;
}
.lowes ol{
    margin-left: 25px;
}
.lowes #lowes_link{
    color: darkblue;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 red;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#lowes_link:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 red;
}
.expertFence{
    color: white;
    position: absolute;
    right: 40px;
    top: 350px;
    max-width: 450px;
    padding: 10px;
}
.expertFence ol{
    margin-left: 25px;
}
.expertFence #fence_link{
    color: white;
    text-decoration: none;
}
.expertFence #fence_link{
    color: green;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#fence_link:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 black;
}
.work{
    position:absolute;
    color: white;
    right: 500px;
    top: 160px;
}
.education{
    position: absolute;
    left: 40px;
    top: 500px;
    padding: 10px;
    max-width: 450px;
}
.education h2{
    color: black;
    text-align: center;
}
.education ol{
    color: black;
    margin-left: 30px;
}
