*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
body{
    background-color: black;
}
.container1{
    width: 100%;
    height: 50em;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url("images/fotor_2023-6-9_10_17_1.png");
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    resize: both;
    overflow: hidden;
    image-rendering: -webkit-optimize-contrast;
}
.container1-title {
    display: flex;
    justify-content: center;
    color: white;
    padding: 5%;
    font-size: 5em;
    transform: scaleX(1.5);
}
.text-box{
    color: whitesmoke;
    position: absolute;
    top: 30%;
}
.text-box p{
    font-size: 300%;
    font-weight:600;
}
.text-box h1{
    font-size: 500%;
    line-height: 80px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
    background-image: url("images/back.png");
    -webkit-background-clip: text;
    animation: bg-animation 20s linear infinite;
} 
@keyframes bg-animation{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{   
    font-size: 200%;
    font-weight: 600;
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 30px;
}
.text-box a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out; 
}
.text-box a:hover { 
    transform: scale(1.1); 
    border: 2px solid darkblue;
    color: darkblue;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
#image_container{
    position: absolute; 
    width: 90em; 
    top: -5em;
    left: 35%;
    height: auto; 
    z-index: 1;
    object-fit: cover;
}
/* next div*/
.cont{
    width: 100%;
    height: 85em;
    background-image: linear-gradient(to bottom, black, white, rgb(193, 204, 227));
    background-position: center;
    position: relative;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    top: 10%;

}
.container-title{
    color: lightgrey;
    position: absolute;
    left: 400px;
    font-size: 1.5em;
    transform: scaleX(2);
}
.container{
    top: 5%;
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px;
}
.text-box1 {
    padding: 20px 30px;
    background: lightgray;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: lightgray;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 2;
}
.text-box1 h2{
    font-weight: 600;
}
.text-box1 small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid lightgray;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid lightgray;
    left: -15px;
}
@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box1{
        font-size: 13px;
    }
    .text-box1 small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid white;
        border-left: 0;
        left: -15px;
    }
}

@media screen and (max-width: 600px){
    .container1-title{
        position: absolute;
        top: 10%;
        left: 18%;
        font-size: 1.3em;
    }
    .text-box p{
        font-size: 250%;
    }
    .text-box h1{
        font-size: 400%;
    }
    .text-box h3{
        font-size: 100%;
    }
    #image_container{
        width: 45em;
        top: 10%;
        left: 10%;
        z-index: 2;
    }
    .container-title{
        top: -5%;
        left: 25%;
        font-size: 10px;
    }
    .text-box a {
        font-size: 10px;
    }
}

.Hobbies {
    width: 100%;
    height: 50em;
    background-image: url("images/es-v-1-1642774309.jpg");
    background-size: cover;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
    resize: both;
    position: relative;
    overflow: hidden;
}
.Hobbies-title {
    color: darkgray;
    position: absolute;
    left: 350px;
    font-size: 1.5em;
    transform: scaleX(1.5);;
}
.hobby1 {
    border: 2px solid white;
    image-rendering: -webkit-optimize-contrast;
    height: 250px;
    width: 250px;
    background-position: 70% 40%;
    border-radius: 50%;
    background-image: url("images/download.webp");
    background-size: contain;
    position: absolute;
    top: 15%;
    left: 5%;
}
.hobby1:hover{
    transform: scale(1.1);
}
.hobby2 {
    border: 1px solid white;
    image-rendering: -webkit-optimize-contrast;
    height: 250px;
    width: 250px;
    background-position: 70% 40%;
    border-radius: 50%;
    background-image: url("images/coding_languages.webp");
    background-size: contain;
    position: absolute;
    top: 10%;
    left: 40%;
}
.hobby2:hover{
    transform: scale(1.1);
}
.hobby3 {
    border: 1px solid white;
    image-rendering: -webkit-optimize-contrast;
    height: 250px;
    width: 250px;
    background-position: 70% 40%;
    border-radius: 50%;
    background-image: url("images/fo-collection-mobile_large.webp");
    background-size: contain;
    position: absolute;
    top: 15%;
    right: 5%;
}
.hobby3:hover{
    transform: scale(1.1);
}
.click-e{
    font-size: 15px;
    color: darkgray;
    position: absolute;
    top: 42.5%;
    left: 44%;
}
@media screen and (max-width: 600px){
    .cont{
        background-image: linear-gradient(to bottom, black, white, rgba(53,75,114));
    }
    .Hobbies {
        background-image: url("images/my23-escalade-v-reveal-masthead-m.avif")
    }
    .Hobbies-title{
        left: 90px;
        font-size: 0.55em;
        transform: scaleX(1.5);
        color: whitesmoke;
    }
    .hobby1{
        height: 150px;
        width: 150px;
        top: 25%;
    }
    .hobby2{
        height: 150px;
        width: 150px;
        top: 6%;
        left: 32%;
    }
    .hobby3{
        height: 150px;
        width: 150px;
        top: 25%;
    }
    .click-e{
        top: 45%;
        left: 32%;
        color: whitesmoke;
    }
    .skills{
        height: 80em;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(53,75,114), white, rgb(105,139,164)); 
        background-size: 500px;
        background-position: center;
        position: relative;
        overflow: hidden;
        image-rendering: -webkit-optimize-contrast;
    }
    .skills h2 {
        color: white;
        position: absolute;
        left: 30%;
        transform: scaleX(1.8);
    }
    .skills img {
        height: 125px;
        width: auto;
    }
    .python1 {
        position: absolute;
        top: 10%;
        left: 23%;
        width: 240px;
        color: whitesmoke;
        text-align: center;
    }
    .js1{
        position: absolute;
        top: 29%;
        left: 22%;
        width: 240px;
        color: rgba(53,75,114);
        text-align: center;
    }
    .forklift {
        position: absolute;
        top: 52%;
        left: 12%;
        width: 300px;
        color: rgba(53,75,114);
        text-align: center;
    }
    .c1{
        position: absolute;
        top: 75%;
        left: 22%;
        color: whitesmoke;
        width: 240px;
        text-align: center;
    }
}
